* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.ToDoApp {
  width: 100%;
  max-width: 600px;
  margin: 80px auto 0;
}

.AddTask {
  position: relative;
}

.AddTask__input {
  width: 100%;
  height: 40px;
  font-size: 25px;
  padding: 0 55px 0 25px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid #585858;
}

.AddTask__input:focus {
  box-shadow: none;
  outline: none;
  border-bottom-color: black;
}

.AddTask__button {
  position: absolute;
  bottom: 15px;
  right: 0;
  font-size: 20px;
  background-color: transparent;
  border: 3px solid #585858;
  color: #585858;
  border-radius: 15px;
  cursor: pointer;
}

.AddTask__button:hover {
   border-color: black;
   color: black;
 }

.AddTask__button:focus {
  outline: none;
}

.Task {
  display: flex;
  align-items: center;
  background-color: white;
  margin: 10px 0;
  padding: 5px 25px;
  font-size: 25px;
  color: #585858;
}

.Task__checkbox {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid #585858;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.Task__checkbox:hover {
  border-color: black;
}

.Task__checkbox--done {
  border: none;
  background-color: #8BC34A;
}

.Task__checkbox--done:after {
  position: absolute;
  content: "";
  width: 12px;
  height: 7px;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  top: 5px;
  left: 5px;
  display: block;
  transform: rotate(-53deg);
}

.Task__checkbox--done:hover {
  border: none;
  background-color: red;
}

.Task__checkbox--done:hover:before {
  position: absolute;
  content: "";
  width: 0px;
  height: 15px;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  top: 3px;
  left: 11px;
  display: block;
  transform: rotate(45deg);
}

.Task__checkbox--done:hover:after {
  position: absolute;
  content: "";
  width: 0;
  height: 15px;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  top: 3px;
  left: 11px;
  display: block;
  transform: rotate(-45deg);
}

.Task__checkbox:hover + .Task__text {
  color: black;
}

.Task__checkbox--done + .Task__text {
  text-decoration: line-through;
  color: #9e9e9e;
}

.Task__text {
  display: inline-block;
  flex-grow: 1;
}

.Task__delete {
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
  font-size: 22px;
}

.Task__delete:hover {
  color: black;
}

.Controls {
  display: flex;
  justify-content: space-around;
  margin: 20px auto 0;
  font-size: 20px;
  color: #585858;
  border-top: 2px solid #585858;
  padding-top: 10px;
}

.Controls__filter {
  cursor: pointer;
}

.Controls__filter:hover {
  color: black;
  font-weight: bold;
}




